<!doctype html>

<html>
<head>
    <title>Idiomatic - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/idiomatic.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Home is not completed yet!</h1>
        <a href="/" class="btn btn-success">Go back?</a>
    </div>
</body>
</html>
